<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Решатель задач</title>
        {% block head %}
            <meta charset="utf-8">
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}" type="text/css"/>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block nav_bar %}
                <div class="nav-bar">
                    {% for but in nav_list -%}
                        <div class="nav-bar-subdiv">
                            {% if but.active == 'self' and but.bar == 'nav' -%}
                                <b class="nav-bar-elem active">{{ but.text }}</b>
                            {% elif but.active == 'parent' and but.bar == 'nav' -%}
                                <a class="nav-bar-elem active" href="{{ but.href }}"> <b>{{ but.text }}</b> </a>
                            {% elif but.bar == 'nav' -%}
                                <a class="nav-bar-elem" href="{{ but.href }}">{{ but.text }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endblock %}
            {% block content %}
                <h1>Заголовок...</h1>
                <p>Но никто не пришёл.</p>
                <p style="color:white">Не переходите на <b>/secret_page</b> пожалуйста</p>
                <h2>Что нового</h2>
                <p class="chapter-elem">Сорян, но пока идёт разработка я сам не знаю<br>
                    Терпи
                </p>
            {% endblock %}
        {% endblock %}
    </body>
</html>
