<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Нечто</title>
        {% block head %}
            <meta charset="utf-8">
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}" type="text/css"/>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block nav_bar %}
                <nav>
                    <ul>
                        {% for but in bars_list -%}
                            {% if but.active == 'self' and but.bar == 'nav' -%}
                                <li>
                                    <b class="element active" style="cursor: default">{{ but.text }}</b>
                                </li>
                            {% elif but.active == 'parent' and but.bar == 'nav' -%}
                                <li>
                                    <a class="element active" href="{{ but.href }}"> <b>{{ but.text }}</b> </a>
                                </li>
                            {% elif but.bar == 'nav' -%}
                                <li>
                                    <a class="element" href="{{ but.href }}">{{ but.text }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            {% endblock %}
            {% block index_content %}
                <h1>Заголовок...</h1>
                <p>Но никто не пришёл.</p>
                <p style="color:white">Не переходите на <b>/secret_page</b> пожалуйста</p>
                <h2>Что нового</h2>
                <p class="chapter-answer">Сорян, но пока идёт разработка я сам не знаю<br>
                    Терпи
                </p>
            {% endblock %}
        {% endblock %}
    </body>
</html>
