<!DOCTYPE html>
{% extends 'index.html' %}

<html lang="ru">
    <head>
    <title>Задачи</title>
        {% block head %}{{ super() }}{% endblock %}
    </head>
    <body>
        {% block body %}
            {% block nav_bar %}{{ super() }}{% endblock %}
            <h2 style="color:#D22222">Данная страница пока не готова</h2>
            {% block onpage_bar %}
                <div class="onpage-bar">
                    {% for but in bars_list -%}
                        {% if but.active == 'self' and but.bar == 'task' -%}
                            <div class="onpage-bar-subdiv">
                                <b class="onpage-bar-elem active" style="cursor: default;">{{ but.text }} <b style="float: right">▶</b> </b>
                                <div class="onpage-bar-dropdown">
                                    {% for drop in bars_list -%}
                                        {% if drop.bar == but.id and drop.active == 'self' -%}
                                            <b class="drop-elem active" style="cursor: default;">{{ drop.text }}</b>
                                        {% elif drop.bar == but.id -%}
                                            <a class="drop-elem" href="{{ drop.href }}">{{ drop.text }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% elif but.active == 'parent' and but.bar == 'task' -%}
                            <div class="onpage-bar-subdiv">
                                <a class="onpage-bar-elem active" href="{{ but.href }}"> <b>{{ but.text }}</b> <b style="float: right">▶</b> </a>
                                <div class="onpage-bar-dropdown">
                                    {% for drop in bars_list -%}
                                        {% if drop.bar == but.id and drop.active == 'self' -%}
                                            <b class="drop-elem active" style="cursor: default;">{{ drop.text }}</b>
                                        {% elif drop.bar == but.id -%}
                                            <a class="drop-elem" href="{{ drop.href }}">{{ drop.text }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% elif but.bar == 'task' -%}
                            <div class="onpage-bar-subdiv">
                                <a class="onpage-bar-elem" href="{{ but.href }}">{{ but.text }} <b style="float: right">▶</b> </a>
                                <div class="onpage-bar-dropdown">
                                    {% for drop in bars_list -%}
                                        {% if drop.bar == but.id and drop.active == 'self' -%}
                                            <b class="drop-elem active" style="cursor: default;">{{ drop.text }}</b>
                                        {% elif drop.bar == but.id -%}
                                            <a class="drop-elem" href="{{ drop.href }}">{{ drop.text }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endblock %}
        {% endblock %}
    </body>
</html>
