.chapter-answer {
    border-left: 5px solid #ccc;
    padding-left: 4px
}

nav#nav-bar {
	height: 67px;
	padding: 0 16px;
    display: block;
	align-items: center;
	background-color: #f3f3f3;
	overflow: hidden;
	border: 1px solid #e7e7e7;
}

nav#nav-bar li {
	border-right: 5px solid #f3f3f3;
	align-items: center;
    display: inline-block;
}

nav#nav-bar ul {
    padding: 0;
    text-decoration: none;
}

nav#nav-bar .element {
	margin: auto;
	display: block;
	padding: 8px;
	text-decoration: none;
	color: #666;
	text-align: center;
}

nav#nav-bar a.element.active:hover {
    background-color: #3674E7;
}

nav#nav-bar .element:hover:not(.active) {
	background-color: #ddd;
}

nav#nav-bar .element.active {
	color: white;
	background-color: #6495ED;
}

nav#onpage-nav-bar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	border: 1px solid #555;
    border-bottom: none;
}

nav#onpage-nav-bar ul {
    padding: 0;
    text-decoration: none;
    margin: 0;
}

nav#onpage-nav-bar li {
    position: relative;
    text-align: center;
    border-bottom: 1px solid #555;
}

nav#onpage-nav-bar .element {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 8px 8px 8px 16px;
    text-align: center;
    vertical-align: middle;
}

nav#onpage-nav-bar .element.active {
    background-color: #9577BB;
    color: white;
}

nav#onpage-nav-bar li:hover .element.active {
    background-color: #6B4B95;
}

nav#onpage-nav-bar li:hover .element:not(.active) {
    background-color: #555;
    color: white;
}

.onpage-bar-dropdown {
    display: none;
    position: absolute;
    left: 200px;
    top: -1px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 8px 0 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #555;
    padding: 2px;
}

.onpage-bar-subdiv:hover .onpage-bar-dropdown, .onpage-bar-dropdown:hover {
    display: block;
}

.onpage-bar-dropdown .drop-elem {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.onpage-bar-dropdown .drop-elem.active {
    background-color: #F65161;
    color: white;
}

.onpage-bar-dropdown .drop-elem:hover:not(.active) {
    background-color: #e4e4e4;
}

