.chapter-elem {
    border-left: 5px solid #cCcCcC;
    padding-left: 4px
}

div.nav-bar {
	height: 67px;
	padding: 0 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #f3f3f3;
	overflow: hidden;
	border: 1px solid #e7e7e7;
}

div.nav-bar-subdiv {
	border-right: 5px solid #f3f3f3;
	align-items: center;
}

a.nav-bar-elem, b.nav-bar-elem {
	margin: auto;
	display: block;
	padding: 8px;
	text-decoration: none;
	color: #666;
	text-align: center;
}

a.nav-bar-elem:hover:not(.active) {
	background-color: #ddd;
}

a.nav-bar-elem.active, b.nav-bar-elem.active {
	color: white;
	background-color: #6495ED;
}

div.onpage-bar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	border: 1px solid #555;
    border-bottom: none;
}

div.onpage-bar-subdiv {
    text-align: center;
    border-bottom: 1px solid #555;
}

b.onpage-bar-elem, a.onpage-bar-elem {
    display: block;
    color: #000;
    padding: 8px 16px;
}

b.onpage-bar-elem.active, a.onpage-bar-elem.active {
    background-color: #6495ED;
    color: white;
}

a.onpage-bar-elem:hover:not(.active) {
    background-color: #555;
    color: white;
}
